<div class="row justify-content-center">
  <div class="col-12 col-sm-6">
    <div class="list-group">
      <span class="text-center">メニュー</span>
      <%= link_to "月謝明細", '#', class: "list-group-item list-group-item-action mb-3" %>
      <%= link_to "顧客・生徒", customers_path, class: "list-group-item list-group-item-action" %>
      <%= link_to "科目", '#', class: "list-group-item list-group-item-action" %>
      <%= link_to "教材", '#', class: "list-group-item list-group-item-action" %>
    </div>
  </div>
</div>
