<footer class="footer">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div><span class="text-muted">月謝明細生成支援アプリケーション</span></div>
      <div><%= link_to "help", help_path %> <%= link_to "about", about_path %></div>
    </div>
  </div>
</footer>
